@{
    ViewBag.Title = "About";
}



<h2 style="font-weight:700; color: navy;">@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<h2>Eugene Shishkin</h2>
<hr />
<section>
    <h3>Technical Qualifications:</h3>

    <table style="width:50%">
        <tr>       
          <td>Languages:</td>
          <td>C#, C++, HTML/CSS, Javascript</td>
        </tr>
       <tr>
         <td>Web:</td>
         <td>ASP.NET MVC, XML, JQuery</td>
       </tr>
       <tr>
         <td>Databases:</td>
         <td>SQL, MySQL</td>
       </tr>
       <tr>
         <td>Tools:</td>
         <td>MS Visual Studio</td>
       </tr>
    </table>
</section>
<hr />
<section>
    <h3>Skills:</h3>

    <table style="width:60%">
        <tr>
            <td>
                <li>OOP and OO design patterns</li>
                <li>Problem solving and troubleshooting</li>
            </td>
            <td>
                <li>Data collection and analysis</li>
                <li>Automation software development</li>
            </td>
        </tr>

    </table>
   </section>
<hr />
    <section>
      <h3>Experience:</h3>
 
            <p style="font-style:italic;font-weight:700;padding-top:5px;">2013- 2015: Data Analyst at Easy Food Plan (Durham, NC)</p> 

            <ul style="list-style-type:circle">
                <li>
                    Building tools for analyzing large user data sets using C# and SQL
                </li>
                <li>
                    Creating GUI for local data analysis tools using WinForms
                </li>
               <li>
                   Building tools for dynamic live data analysis using C# and ASP.NET
               </li>
                <li>
                   Forming graphical reports in HTML format using HTML, JavaScript, and JQuery
                </li>
               <li>
                   Big-O optimization of speed and memory of data analysis algorithms
               </li>
                <li>
                   Refactoring of preexisting tools using best practices of OOD and design patterns such as MVC
                </li>
            </ul>

    <p style="font-style:italic;font-weight:700;padding-top:5px;">2011- 2015: Senior Process Engineer at Kyma Technologies, Inc. (Raleigh, NC)</p>

    <ul style="list-style-type:circle">
        <li>
            Led modeling & simulations of vapor phase epitaxy processes using proprietary software
        </li>
        <li>
            Led R&D projects in growth of gallium nitride crystals from concept to production (process development, data analysis, characterization, reports, improvements)
        </li>
     </ul>
     
     <p style="font-style:italic;font-weight:700;padding-top:5px;">2010: Lecturer, Electricity & Magnetism, Physics and Astronomy, Univ. of Pittsburgh</p>

        <ul style="list-style-type:circle">
            <li>
                Read lectures to college-level students majoring in science
            </li>
            <li>
                Designed and graded exams, maintained the website associated with the course
            </li>
        </ul>

        <p style="font-style:italic;font-weight:700;padding-top:5px;">2006-2009: Senior Materials Engineer at Caracal Inc.</p>
        <ul style="list-style-type:circle">
            <li>
                Designed and upgraded hardware and software for crystal growth reactors
            </li>
            <li>
                Designed LabVIEW-based cost-effective process automation equipment (motion control, image acquisition and processing)
            </li>
            <li>
                Conducted structural characterization of semiconductor crystals (X-ray diffraction)
            </li>
        </ul>
        
        <p style="font-style:italic;font-weight:700;padding-top:5px;">2004-2006: Post-Doctoral Research Scientist in EE Dept., University of South Florida</p>
        <ul style="list-style-type:circle">
            <li>
                Developed hot-wall chemical vapor deposition processes
            </li>
            <li>
                Performed electrical, structural, and surface analysis of semiconductors
            </li>
        </ul>

        <p style="font-style:italic;font-weight:700;padding-top:5px;">1996-2004: PhD student, Solid State Physics, Physics and Astronomy, University of Pittsburgh</p>
        <ul style="list-style-type:circle">
            <li>
                Acquired spectral data, performed spectral peak analysis, and wrote scientific articles.
            </li>
            <li>
                Used C++ to write process simulation software to determine the penetration depth of an electron bean into a solid.
            </li>
            <li>
                Developed LabView-based programs for automated data acquisition for low temperature luminescence experiments.
            </li>
            <li>
                Designed and built hardware and LabView-based software for electrochemical etching experiments.
            </li>

        </ul>
</section>
<hr />
<section>
    <h3>Education:</h3>

    <ul style="list-style-type:circle">
        <li>
           2004 PhD in Solid State Physics, Physics and Astronomy, University of Pittsburgh
        </li>
        <li>
           1996 BS in Physics, Department of Physics, Moscow State University, Russia
        </li>
    </ul>
</section>