@{
    ViewBag.Title = "Contact Info";
}
<h2 style="font-weight:700; color: navy;">@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>
    Eugene Shishkin<br />
    Cary, NC 27519<br />
</p>

<table style="width:60%">
    <tr>
        <td>
            <address>

                <abbr title="Phone">mobile:</abbr>
                412.977.7068<br />
                <abbr title="Phone">home:</abbr>
                919.439.1039

            </address>
        </td>
        <td>
            <address>
                <strong>E-mail:</strong>   <a href="mailto:eugene.shishkin@gmail.com">eugene.shishkin@gmail.com</a><br />
                <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/shishkineugene">https://www.linkedin.com/in/shishkineugene</a>
            </address>

        </td>
    </tr>

</table>


